<!-- Hangman page -->

<!-- Use base.html -->
{% extends "base.html" %} 

{% block title %}Hangman{% endblock %}

{% block body %}
<div class = "content">
    <div id = "parent_hangman_chat">
        <!-- Hangman area (left) -->
        <div class = "sub_content hangman_area" id = "main_hangman_area">
            <!-- Status -->
            <div id = "status"></div>
        </div>

        <!-- Chat area (right) -->
        <div class = "sub_content chat_area">
            <!-- Send message -->
            <div class = "send_chat_message">
                <label class = "center">Message<input type = "text" id = "message_input"></label>
                <button type = "button" id = "send_button" class = "button">Send message</button>
            </div>

            <!-- Messages -->
            <div class = "overflow_scroll chat_messages" id = "chat_area"><ul id = "chat_ul"></ul></div>
        </div>
    </div>
    <!-- Socket IO JavaScript library --> 
    <script type="text/javascript" src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>

    <!-- Main JavaScript -->
    <script>
        // Easter egg kind of
        console.log(`
        Hey! It looks like you're going into the console. 
        You won't be able to find the word in here, but you will be able to do stuff that isn't allowed.
        (e.g. send illegal messages to the server)
        So, it'd be nice if you leave.
        Thanks! -Sheepy        
        `);
        // Setup
        const socket = io("http://{{ ip_address }}:{{ port }}");
        const username = "{{ username }}";
        const acceptable_regex = /[a-z]/g;
        socket.heartbeatTimeout = 10000;

        // HTML variables
        const chat_html = document.getElementById("chat_ul");
        const send_chat_html = document.getElementById("send_button");
        const chat_text_input_html = document.getElementById("message_input");
        const chat_area_html = document.getElementById("chat_area");
        const main_hangman_area = document.getElementById("main_hangman_area")

        // Misc. ==================================================================================

        // Redirect
        socket.on("redirect", function(data) { window.location = data["new_url"]; });

        // Connect
        socket.on("connect", function() { socket.emit("user_connection", {"username": username} ); });

        // Game ended because of a disconnect
        socket.on("end_game_disconnect", function() {
            parent_hangman_chat_html.innerHTML = `<h1 class = "center">The other player has left!</h1><form action = "/", method = "GET"><input type = "submit" class = "button" value = "Exit"></form>`;
            socket.close();
        });

        // Game over (out of guesses)
        socket.on("game_over_out_of_guesses", function(data) {
            parent_hangman_chat_html.innerHTML = `<h1>The executioner won!</h1><h2>The word was ${data["word"]}</h2><form action = "/", method = "GET"><input type = "submit" class = "button" value = "Exit"></form>`;
            socket.close();
        });

        // Game over (won)
        socket.on("game_over_guesser_won", function(data) {
            parent_hangman_chat_html.innerHTML = `<h1>The guesser got the word!</h1><h2>The word was ${data["word"]}</h2><form action = "/", method = "GET"><input type = "submit" class = "button" value = "Exit"></form>`;
            socket.close();
        });

        // Change status HTML
        function change_status_html(new_html) {
            // Get status
            var status_html = document.getElementById("status");
            // Change it
            status_html.innerHTML = new_html;
        }

        // Chat ===================================================================================

        send_chat_html.addEventListener("click", send_chat_message);
        // If user presses enter in chat box, click send button
        chat_text_input_html.addEventListener("keyup", function(event) { 
            // Check if keycode is enter (13)
            if (event.keyCode == 13) { send_chat_html.click(); }
        }); 

        // Chat message sent from server
        socket.on("message", function(message) {
            chat_html.innerHTML += `<p class = .chat_message>${message}</p>`;
            // Auto scroll chat area
            chat_area_html.scrollTop = chat_area_html.scrollHeight;
        });

        // Send chat message
        function send_chat_message() { 
            // Make sure message is not nothing
            if (chat_text_input_html.value != "") {
                socket.emit("send_message", {"message": chat_text_input_html.value}); 
                // Reset the message input
                chat_text_input_html.value = "";
            }
        }

        // Hangman ================================================================================

        // Setup HTML
        function setup_hangman_html() {
            main_hangman_area.innerHTML = `
            <!-- Guess area -->
            <div id = "sub_main_hangman_area"></div>

            <div id = "parent_image_play_area">
                <!-- Hangman image -->
                <div id = "hangman_image_area" class = "widget"></div>

                <!-- Play area -->
                <div id = "play_area">
                    <!-- Guessed letter lists -->
                    <div id = "guessed_letters_parent" class = "widget"></div>

                    <!-- Word / letter input -->
                    <div id = "word_letter_input" class = "widget"></div>

                    <!-- Status -->
                    <div id = "status"></div>
                </div>
            </div>
            `;

            // Setup HTML variables
            sub_main_hangman_area_html = document.getElementById("sub_main_hangman_area");
            parent_hangman_chat_html = document.getElementById("parent_hangman_chat");
            play_area_html = document.getElementById("play_area");
            guessed_letter_lists_html = document.getElementById("guessed_letters_parent");
            word_letter_input_html = document.getElementById("word_letter_input");
        }

        // Recieve role (game started)
        socket.on("recieve_role", function(data) {
            // Setup hangman HTML
            setup_hangman_html();

            // Get role (global)
            role = data["role"];

            // Executioner
            if (role == "executioner") {
                // Add word input
                word_letter_input_html.innerHTML = `
                <label class = "center">Enter a word for the other player to guess<br><input type = "text" id = "word_input"></label><br>
                <button type = "button" class = "button" id = "word_submit">Submit word</button>
                `;

                var submit_word_button = document.getElementById("word_submit");
                submit_word_button.addEventListener("click", send_word_to_guesser);
            }

            // Guesser
            else if (role == "guesser") {
                change_status_html(`<h3>Please wait for the other person to type the word.</h3>`);
                // Once we get the word, setup hangman
                socket.on("get_word", function(data) { setup_hangman(data["word"]) });
            }
        });

        // Set up statuses
        function setup_statuses(word) {
            sub_main_hangman_area_html.innerHTML = `
            <!-- Status -->
            <div class = "hangman_status">
                <hr class = "horizontal_line_hangman_status">
                <div class = "vertical_line_hangman_status"></div>
                <!-- Word status -->
                <div class = "word_status">
                    <h3>Word: "<span id = "word_status_censored"></span>"</h3>
                </div>
                <!-- Guesses left -->
                <div class = "guess_status">
                    <h3>Guesses left: <span id = "guesses_left_text"></span></h3>
                </div>
            </div>
            `;

            // Get initial censored word
            word_status_censored_html = document.getElementById("word_status_censored");
            guesses_left_text_html = document.getElementById("guesses_left_text");

            for (letter = 0; letter < word.length; letter++) { word_status_censored_html.innerHTML += "-"; }
            censored_word = word_status_censored_html.innerHTML;
            guesses_left_text_html.innerHTML = "6";
        }

        // Guess letter
        function guess_letter() {
            // Reset status
            change_status_html("");

            // Get letter
            var letter_to_guess = document.getElementById("letter_guess_input").value;
            letter_to_guess = letter_to_guess.toLowerCase();

            // Check if the letter to guess is good
            // Blank check
            if (letter_to_guess.length == 0) { change_status_html("<h4>The letter cannot be empty.</h4>"); }
            // Too long check
            else if (letter_to_guess.length > 1) { change_status_html("<h4>The letter cannot be more than one letter.</h4>"); }
            // Regex check
            else if (letter_to_guess.match(acceptable_regex) == null) { change_status_html("<h4>The letter must be a letter!</h4>"); }

            // Everything is good
            else { socket.emit("guessed_letter", {"letter_guessed": letter_to_guess}); }
        }

        // Set up game
        function setup_hangman(word) {
            // Reset
            change_status_html("");
            word_letter_input_html.innerHTML = ``
            change_hangman_image(6);

            setup_statuses(word);

            // Create the already selected word list
            guessed_letter_lists_html.innerHTML = `
            <p>Incorrect guesses: <strong><span id = "guessed_letters_incorrect"></span></strong></p>
            <p>Correct guesses: <strong><span id = "guessed_letters_correct"></span></strong></p>
            `;

            // If we are the guesser, then set up the guessing area
            if (role == "guesser") {
                // Create letter input
                word_letter_input_html.innerHTML = `
                <label class = "center">Guess a letter<br><input type = "text" id = "letter_guess_input" maxlength = "1"></label><br>
                <button type = "button" class = "button" id = "letter_guess_submit">Guess letter</button>
                `;
                var letter_guess_submit_html = document.getElementById("letter_guess_submit");
                var letter_guess_input_html = document.getElementById("letter_guess_input");
                letter_guess_submit_html.addEventListener("click", guess_letter);
                // If user presses enter in box, click send button
                letter_guess_input_html.addEventListener("keyup", function(event) { 
                    if (event.keyCode == 13) { letter_guess_submit_html.click(); letter_guess_input_html.value = ``; } 
                }); 
            }
        }

        // Letter has been guessed
        socket.on("letter_has_been_guessed", function(data) {
            // Get data
            var letter_guessed = data["letter_guessed"];
            var censored_word = data["censored_word"];
            var guesses_left = data["guesses_left"];
            var correct = data["correct"];

            // Get HTML locations to update
            var incorrect_guessed_letters_html = document.getElementById("guessed_letters_incorrect");
            var correct_guessed_letters_html = document.getElementById("guessed_letters_correct");

            // Update word
            word_status_censored_html.innerHTML = `${censored_word}`;
            guesses_left_text_html.innerHTML = `${guesses_left}`;

            // Put the letter guessed into the proper place
            if (correct == true) { correct_guessed_letters_html.innerHTML += `${letter_guessed}`; }
            else { 
                incorrect_guessed_letters_html.innerHTML += `${letter_guessed}`;
                // Update image
                change_hangman_image(guesses_left);
            }
        });

        // Letter has already been guessed
        socket.on("letter_has_already_been_guessed", function() { change_status_html("<h4>This letter has already been guessed. Try again.</h4>"); });

        // Send word to guesser
        function send_word_to_guesser() {
            // Get the word
            const word = (document.getElementById("word_input").value).toLowerCase();

            // Check if the word is acceptable
            // Blank check
            if (word.length == 0) { change_status_html("<h4>The word cannot be empty.</h4>"); }
            // Regex check
            else if ( (word.match(acceptable_regex) == null) || (word.match(acceptable_regex).length < word.length) ) { change_status_html("<h4>The word must be only letters!</h4>"); }

            // Everything is good
            else {
                setup_hangman(word);
                socket.emit("word_for_guesser", {"word": word, "censored_word": word_status_censored_html.innerHTML} );
            }
        }

        // Update hangman image
        function change_hangman_image(guesses_left) {
            // Get the hangman image HTML
            const hangman_image_area_html = document.getElementById("hangman_image_area");

            // Update it
            hangman_image_area_html.innerHTML = `
            <image class = "center" src = "/static/images/${guesses_left}_guesses.png" alt = "Hangman image - ${guesses_left} guesses left">
            `;
        }
    </script>
{% endblock %}