<!-- Internal server error (500) page -->

<!-- Use base_error_handling.html -->
{% extends "base_error_handling.html" %} 

<!-- Title -->
{% block title %}500: Internal server error{% endblock %}

<!-- Error stuffs -->
{% block error_header %}500 - Internal server error{% endblock %}
{% block error_text %}
    <h3>Something has gone wrong with the server (not supposed to happen lol).</h3>
    <h3>Please contact Sheepy and explain what you were doing when this happened.</h3>
{% endblock %}
{% block traceback %}{{ traceback }}{% endblock %}