<!-- Page not found error (404) page -->

<!-- Use base_error_handling.html -->
{% extends "base_error_handling.html" %} 

<!-- Title -->
{% block title %}404: Page not found error{% endblock %}

<!-- Error stuffs -->
{% block error_header %}404 - Page not found error{% endblock %}
{% block error_text %}
    <h3>The page you requested to go to could not be found.</h3>
    <h3>If you believe this to be a mistake, contact Sheepy.</h3>
{% endblock %}
{% block traceback %}{{ traceback }}{% endblock %}