/* CSS file for all websites */

/* Body and global scope */
body, html {
    font-family: sans-serif;
    margin: 0 auto;
    background-color: wheat;
}

/* Text */
h1, h2, h3, h4, h5, p, li, a {
    text-align: center; 
    padding: 5px;
}

/* Center */
.button, .center {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    text-align: center;
}

/* Content */
.content {
    margin: 0 auto;
    width: 1045px;
    background-color: pink;
    border-radius: 25px;
}

/* Buttons */
.button {
    display: block;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid black; 
    width: 30%;
}

/* Sub content */
.sub_content {
    width: 90%;
    border-radius: 15px;
    background-color: rgb(255, 180, 192);
}

/* Points area */
.points_area {
    height: 400px;
    width: 240px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    position: absolute;
}

/* Hangman area */
.hangman_area {
    height: 400px;
    width: 515px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    transform: translateX(245px);
}

.hangman_status {
    height: 50px;
}

.vertical_line_hangman_status {
    border-left: 2px solid black;   
    height: 50px;
    float: right;
    transform: translateX(calc(515px * 0.5));
    position: absolute;
}

.horizontal_line_hangman_status {
    border: 1px solid black;
    transform: translateY(40px);
    width: calc(515px - 1.5px);
    position: absolute;
}

.word_status {
    float: left;
    width: calc(515px / 2);
    text-align: center;
}

.guess_status {
    float: right;
    width: calc(515px / 2);
    text-align: center;
}

/* Chat area */
.chat_area {
    height: 400px; 
    width: 240px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

#message_input, #send_button {
    height: 40px;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.chat_messages {
    height: 275px;
    width: 100%;
    border-radius: 0px;
}

.\.chat_message {
    text-align: left;
}

/* Widgets */
.widget {
    background-color: rgb(255, 180, 202);
    border: 1px dotted white;
    border-radius: 10px;
    position: absolute;
    margin: 20px;
}

.widget:empty {
    display: none;
}

.hangman_status {
    background-color: rgb(255, 180, 202);
    border-radius: 10px 10px 0px 0px;
}

#hangman_image_area {
    width: 200px;
    height: 310px;
    float: left;
}

#hangman_image_area img {
    width: 256px;
    height: auto;
}

#guessed_letters_parent {
    width: 270px;
    height: 155px;
    transform: translateX(205px);
}

#letter_input {
    width: 270px;
    height: 150px;
    transform: translate(205px, 160px);
}

.word_input {
    width: 90%;
    padding: 20px 0px;
}

#status {
    transform: translateY(-15px);
}

/* Exit button */
#exit_button {
    position: initial;
    margin: 20px;
    width: 1005px;
}


/* Misc. */
.overflow_scroll {
    overflow: scroll;
    overflow-x: initial;
    overflow-wrap: break-word;
}

.flashes {
    margin: 0 auto;
    border-radius: 15px;
    width: 1045px;
    background-color: rgb(255, 180, 192);
}