/* CSS file for all websites */

/* Body and global scope */
body, html {
    font-family: sans-serif;
    margin: 0 auto;
    background-color: wheat;
}

/* Text */
h1, h2, h3, h4, h5, p, li, a {
    text-align: center; 
    padding: 5px;
}

.tiny_text {
    font-size: small;
    color: darkslategray;
    width: 75%;
    margin: 0 auto;
}

footer {
    font-size: smaller;
}

/* Center */
button, .center {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

.center_text {
    text-align: center; 
}

/* Content */
.content {
    margin: 0 auto;
    width: 800px;
    background-color: pink;
    border-radius: 25px;
}

#content {
    width: 70%;
}

/* Buttons */
.button {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    background-color: lightslategray;
    color: black;
    border: 1px solid black; 
    width: 30%;
}

.small_button {
    padding: 1px;
    width: 100%;
}

/* Sub content */
.sub_content {
    width: 90%;
    border-radius: 15px;
    background-color: rgb(255, 180, 192);
}

.overflow_scroll {
    overflow: scroll;
    overflow-x: initial;
}

input[type = text] {
    width: 25%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

/* Parent for hangman and chat */
.parent_hangman_chat {
    display: inline;
}

/* Hangman area
Also, I didn't know that CSS code could
be this bad. But, here I am. */
.hangman_area {
    height: 400px;
    width: 515px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.hangman_status {
    height: 40px;
}

.vertical_line_hangman_status {
    border-left: 2px solid black;   
    height: 49px;
    float: right;
    transform: translateX(257.5px);
    position: absolute;
}

.horizontal_line_hangman_status {
    border: 1px solid black;
    transform: translateY(40px);
    width: 513.5px;
    position: absolute;
}

.word_status {
    float: left;
    text-align: center;
    transform: translateX(50%);
}

.guess_status {
    float: right;
    text-align: center;
    display: block;
    transform: translateX(-50%);
}

/* Chat area */
.chat_area {
    height: 400px; 
    width: 240px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

#message_input, #send_button {
    height: 40px;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.chat_messages {
    height: 300px;
    width: 100%;
    border-radius: 0px;
}

/* Flashes */
.flashes {
    margin: 0 auto;
    border-radius: 15px;
    width: 800px;
    background-color: rgb(255, 180, 192);
}